<!-- <app-attribute-directive></app-attribute-directive>
 -->

<!-- <app-form-validaition></app-form-validaition>
 -->
<app-nav></app-nav>
<div class="fuild-container">
  <div class="row">
    <div class="col-3">
      <app-aside></app-aside>
    </div>
    <div class="col-9">
<!--       <app-students></app-students>
 -->
<!--       <app-parent2></app-parent2> -->
<!--         <app-form-validaition></app-form-validaition> -->

<app-parent-lab></app-parent-lab>
    </div>
</div>
</div>
<app-foot></app-foot>
