
<form class="row g-3">
  <div class="col-md-4">
    <label for="Name" class="form-label">Enter Product Name</label>
    <input type="text" class="form-control" [ngClass]="{
      'is-valid' : isValidName,
      'is-invalid' : !isValidName
    }" id="Name" (input)="ProductValue($event)" [(ngModel)] = "Product" name="Name">
    <div class="valid-feedback">
      Looks good!
    </div>
    <div class="invalid-feedback">
      Product Name Must be More Than 5 Letters
    </div>
  </div>
  <div class="col-md-4">
    <label for="Age" class="form-label">Enter Product Price</label>
    <input type="number" class="form-control" [ngClass]="{
      'is-valid' : isValidAge,
      'is-invalid' : !isValidAge
    }" id="Age" name="Age" (input)="ProductPrice($event)" [(ngModel)]="Price"  required>
    <div class="valid-feedback">
      Looks good!
    </div>
    <div class="invalid-feedback">
      Price Must be Between 1000$ and 9000$
  </div>
  </div>

  <div class="col-12">
    <button class="btn btn-primary" (click)="SendData()"  type="submit">Add Product</button>
  </div>
</form>

